.App {
  margin: 0 3rem;
}

td,
th {
  text-align: center;
  vertical-align: middle;
}

.StockTable_table_actions {
  display: none;
}

.StockTable_table_actions button {
  color: darkgray;
}

.StockTable_table_row:hover .StockTable_table_actions {
  display: block;
}

.StockData_stockDetail {
  border: 0.1em solid;
  padding: 0.5rem;
}

.StockTable_Select_tag {
  margin: 1rem 0;
  display: grid;
  grid-template-columns: 1fr 3fr;
  align-items: center;
}

.StockTable_Select_tag select {
  margin-bottom: 0.5em;
}

.StockTable_Select_tag label {
  text-align: right;
  margin-right: 0.5rem;
}

.StockData_details {
  width: 50%;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
